.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	height: 500px;

	.block {
		width: 75px;
		background-color: #295bff;
		margin-bottom: 20px;
	}

	.line {
		width: 75px;
		height: 2px;
		background-color: #000000;
		margin-bottom: 10px;
	}

	.span {
		font-size: 20px;
	}
}
